
@using WebApplication1.Controllers;
@{
    ViewBag.Title = "playMancala";
    int[] gameState = playMancalaController.fetchGameState();
}

<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="stylesheet" type="text/css" href="~/Scripts/mancalyStyleSheet.css" media="screen">

<html lang="en">

<head>
    <title> Mancala </title>
</head>

<body>

    <div class="message"> player @(gameState[14] * -1 + 2) it's your turn </div>

    <br><br><br><br>
    <div class="board">

        <div class="section endsection">
            <div class="kalaha" id="mb"> pl1:  @gameState[6].ToString() </div>
        </div>

        <div class="section midsection">
            <div class="midrow topmid">
                <div class="pitt" id="pt1">@Html.ActionLink(gameState[5].ToString(), "makeMove/13")  </a></div>
                <div class="pitt" id="pt2">@Html.ActionLink(gameState[4].ToString(), "makeMove/12")  </a></div>
                <div class="pitt" id="pt3">@Html.ActionLink(gameState[3].ToString(), "makeMove/11")  </a></div>
                <div class="pitt" id="pt4">@Html.ActionLink(gameState[2].ToString(), "makeMove/10")  </a></div>
                <div class="pitt" id="pt5">@Html.ActionLink(gameState[1].ToString(), "makeMove/9")   </a></div>
                <div class="pitt" id="pt6">@Html.ActionLink(gameState[0].ToString(), "makeMove/8")   </a></div>
            </div>

            <div class="midrow botmid">
                <div class="pitt" id="pb6">@Html.ActionLink(gameState[7].ToString(), "makeMove/0")  </a></div>
                <div class="pitt" id="pb5">@Html.ActionLink(gameState[8].ToString(), "makeMove/1")  </a></div>
                <div class="pitt" id="pb4">@Html.ActionLink(gameState[9].ToString(), "makeMove/2")  </a></div>
                <div class="pitt" id="pb3">@Html.ActionLink(gameState[10].ToString(), "makeMove/3") </a></div>
                <div class="pitt" id="pb2">@Html.ActionLink(gameState[11].ToString(), "makeMove/4") </a></div>
                <div class="pitt" id="pb1">@Html.ActionLink(gameState[12].ToString(), "makeMove/5") </a></div>
            </div>

        </div>

        <div class="section endsection">
            <div class="kalaha" id="mt"> pl2: @gameState[13].ToString() </div>
        </div>
    </div>



    <br><br><br><br>
    <div class="message">@Html.ActionLink("start new game", "newGame")</a></div>
    <div class="message">@Html.ActionLink("save game", "saveGame")</a></div>
    <div class="message">@Html.ActionLink("load game", "loadGame")</a></div>
    <br><br><br><br>


</body>
</html>
